<?xml version="1.0"?>
<launch>
        <!-- Parameters file -->
        <rosparam file="$(find rover_sentinel)/config/classification.yaml"/>

        <!-- Nodes -->
        <node name="rover_sentinel_pov" pkg="rover_vision" type="cameraImage.py"/>
        <node name="rover_sentinel_prediction" pkg="rover_vision" type="detection.py"/>
</launch>