<?xml version="1.0"?>
<launch>
    <!-- Activate lidar -->
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>

    <!-- Odometry Launch -->
    <include file="$(find rover_movement)/launch/rover_odometry.launch"></include>

    <!-- Launch Gmapping SLAM -->
    <include file="$(find rover_slam)/launch/gmapping_slam.launch"/>

    <!-- Nodes -->
    <node name="slam_pose" pkg="rover_slam" type="slam_position.py" output="screen"/>
</launch>
