<?xml version="1.0"?>
<launch>
        <!-- Activate lidar -->
        <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

        <!-- Odometry launch -->
        <include file="$(find rover_movement)/launch/rover_odometry.launch" />

        <!-- Nodes -->
        <node name="rover_controller" pkg="rover_movement" type="controller.py" output="screen"/>
</launch>