<?xml version="1.0"?>
<launch>
    <!-- Publish map ready -->
    <node pkg="rostopic" type="rostopic" name="ready_map" args='pub /ready/map std_msgs/Bool "data: true"'/>

    <!-- Arduino sensors -->
    <include file="$(find rover_sensors)/launch/rover_arduino.launch"></include>

    <!-- Person classificator -->
    <include file="$(find rover_vision)/launch/rover_detection.launch"></include>
</launch>
