<?xml version="1.0"?>
<launch>
    <!-- Lidar -->
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"></include>

    <!-- Odometry Raw -->
    <include file="$(find rover_movement)/launch/rover_odometry.launch"></include>

    <!-- SLAM -->
    <node name="gmapping" pkg="rover_slam" type="gmapping.sh"/>
    <include file="$(find rover_slam)/launch/rover_slam_odometry.launch"></include>

    <!-- Person classificator -->
    <!-- <include file="$(find rover_vision)/launch/rover_detection.launch"></include> -->

    <!-- Sensors data -->
    <include file="$(find rover_sensors)/launch/rover_arduino.launch"></include>
    <node name="joystick_manual" pkg="rover_sensors" type="manual_control.py" output="screen"/>

    <!-- Movement Nodes -->
    <node name="controller" pkg="rover_movement" type="controller.py" output="screen"/>
    <node name="navigation" pkg="rover_movement" type="navigation.py" output="screen"/>
    <node name="kalman_filter" pkg="rover_movement" type="kalman_filter.py" output="screen"/>

    <!-- States machine -->
    <node name="rover_state_machine" pkg="rover_sentinel" type="states.py" output="screen"/>
</launch>
